.mentor-search {
  width: 700px;
  height: 100px;
  padding: 25px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  background-color: #DCDCDC;
  user-select: none;
}

.mentor-search label {
  font-size: 22px;
}

.mentor-search input {
  width: 330px;
  height: 40px;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 20px;
  outline: none;
}